<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Youtube Helper</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="btn-container">
        <div class="btn downloader">
            <button><a href="ytdl.html">Youtube Downloader</a></button>
        </div>
        <div class="btn splitter">
            <button><a href="splitter.html">Youtube Downloader</a></button>
        </div>
    </div>
</body>
</html>