<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
</head>
<body>
    <div class="container">
        <header>Youtube Downloader</header>
        <form action="send-link" method="post">
            <input type="text" placeholder="Paste youtube link here">
            <input type="radio" name="quality" id="1080" value="1080p">
            <label for="1080">1080p</label>
            <input type="radio" name="quality" id="720" value="720p">
            <label for="720">720p</label>
            <input type="radio" name="quality" id="480" value="480p">
            <label for="480">480p</label>
            <input type="radio" name="quality" id="360" value="360p">
            <label for="360">360p</label>
            <input type="radio" name="quality" id="280" value="280p">
            <label for="280">280p</label>
            <input type="radio" name="quality" id="140" value="140p">
            <label for="140">140p</label>
            
            <input type="submit" value="Submit">
        </form>

    </div>
</body>
</html>